
button{
    margin: 2rem auto;
    max-width:400px;
    border:none;
    color: rgb(0, 0, 0);
    border-radius: .25rem;
    font-size: 1.125rem;
    padding: 20px 60px;
    cursor:pointer
    
        }		
        
        
    .bouton{
        
    background:linear-gradient(135deg, #ffffff 0%,#8b8b8b 100%);
    animation: nom_anim_bouton 1s infinite alternate
        
        }
    
    @keyframes nom_anim_bouton{
        
    from{
        
        box-shadow:0 0 5px rgb(255, 0, 0)
        
        }
    to{
    
        box-shadow:0 0 15px rgb(255, 0, 0)
        
        }
        
        }	

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  img {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }
  
  p {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

  h1 {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

  h2 {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

  em {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

  h4 {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

 h6 {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

 h5 {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

  h3 {  

    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  }

  button {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  a {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  li {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

body{
    height: auto;
    overflow-x: hidden;
    background-color: white;
}

img{
    display: block;
    width: auto;
}

main{
    max-width: auto;
    margin: auto;
}

.emplacement_texte{
    position: absolute; top: 30px; left: 130px;
}

body{

    margin: 0%;
}


img {
    border-radius: 10px; /* propriété CSS3 */
    -moz-border-radius: 10px; /* compatibilité avec Firefox */
    -webkit-border-radius: 10px; /* compatibilité avec les navigateurs Webkit */
    }

/* Début couleur séléction de texte*/
::selection {
    color: #fff;
    background: #ff0000;
    }

    ::-moz-selection {
 color: #fff;
 background: #ff0000;
 }
/* Fin couleur séléction de texte*/

ul{
    list-style: none;
    font-weight: bolder;
}
header{
    width:100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}
li{
    color: rgb(0, 0, 0);  
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}
li:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
nav {
    float: right;
    padding: 15px;
}

#logo{
    margin: 20px;
    float: right;
    width: 200px;
}

#icon-menu{
    visibility: hidden;
    width: 32px;
    height: 32px;
   
}

@media only screen and (max-width:650px){
    header{
        position: left;
    }

    #icon-menu{
        visibility: visible;
       background-color:rgba(255, 0, 0, 0);
       float: right;
      
    }
    #icon-menu:hover{
        visibility: visible;
        float: right;
      
    }
    nav ul, nav:active ul {
        display:none;
        position: left;
        padding: 20px;
        background: rgb(0, 0, 0);
        right: 10px;
        top: 35px;
        width: 35%;
    }
    nav:hover ul {
        display: block;
            float: right;
            
    }
    nav li {
        text-align: center;
        x
        padding: 15px 0;
        margin: 0;
    }
li:hover{
        color:rgb(255, 255, 255) ;
        cursor: pointer;
}
}

.serveur {
    text-align: left;
}

.image_serveur {
    margin: 10px;
}

.nom_serveur {
    margin: 140px;
    margin-top: -100px;
}

.bouton_serveur {
margin-top: -1000px;
background-color: #fff;
z-index: 1;
position: relative;
overflow: hidden;
color: rgb(0, 0, 0);
border: 3px solid rgb(0, 0, 0);
padding: 10px 20px;
font-family: Patrick Hand;
font-weight: 800;
font-size: 1.05em;
border-radius: 15px;
transition: transform .3s ease, color .5s ease;

}

.bouton_serveur:hover {
    color: rgb(149, 207, 62);
}

.bouton_serveur::before {
    content: '';
    inset: 0 0 0 0;
    margin: auto;
    height: 0px;
    width: 0px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    border-radius: 50%;
    transition: all .7s ease;
   }

.bouton_serveur:active {
    transform: scale(.9);
}


a {
    text-decoration-color: red;
    color: red;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.icone {
    width: 50px;
}




.content {
    /* grow shrink basis */
    flex: 1 0 auto;
}
.content p {
    padding: 2vw 10vw 5vw;
    text-align: justify;
}

footer {
    flex-shrink: 0;
    border-top: 1px groove rgb(255, 0, 0);
    width: 100%;
    background: #fff;
    color: #333;
}
.content-footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 10px 0 10px;
    text-decoration: underline;
    cursor: pointer;
    color: #ff0000;
}

.bloc {
    flex-basis: 20%;
    margin: 0 30px;
}

/* Others */

.services-list,
.schedule-list,
.media-list {
    list-style-type: none;
}
.services-list li {
    padding: 2px 0;
}
.services-list a {
    text-decoration: none;
    color: #333;
}
.services-list a:hover {
    color: rgb(3,3,3);
}

/* Medias */

.media-list {
    position: right;
    right: 10px;
}
.media-list svg {
    width: 30px;
    margin: 10px 10px;
}
.media-list a {
    text-decoration: none;
    color: rgb(255, 0, 0);


    font-size: 20px;
}


/* Media queries */

@media screen and (max-width: 1000px) {

    .content-footer {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .bloc {
        flex-basis: auto;
        margin: 20px 20px;
    }


}


@media screen and (max-width: 600px) {
    .content-footer {
        justify-content: center;
        padding-top: 30px;
    }
    .bloc {
        flex-basis: 70%;
        /* margin: 10px; */
    }
    .footer-contact h3,
    .footer-services h3,
    .footer-schedule h3,
    .footer-medias h3 {
        padding-bottom: 5px;
    }

}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #000000;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(87, 93, 102, 0.39);
  
    transition: 400ms;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #f5f6fa;
  }
  
  .cookie-btn {
    background: #ff0000;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }

  .img_index {
    cursor: pointer;
  }

  button {
    background-color: #fff;
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: red;
    border: 3px solid red;
    padding: 10px 20px;
    font-family: Patrick Hand;
    font-weight: 800;
    font-size: 1.05em;
    border-radius: 15px;
    transition: transform .3s ease, color .5s ease;
   }
   
   button::before {
    content: '';
    inset: 0 0 0 0;
    margin: auto;
    height: 0px;
    width: 0px;
    position: absolute;
    background-color: red;
    z-index: -1;
    border-radius: 50%;
    transition: all .7s ease;
   }
   
   button:active {
    transform: scale(.9);
   }
   
   button:hover {
    color: white;
   }
   
   button:hover:before {
    height: 50000%;
    width: 50000%;
   }